/*Show interstitial, hide scrollbars, swfs, etc */
body.has-interstitial {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  text-align: left !important;
  /*site specific header settings: */ }
  body.has-interstitial embed, body.has-interstitial object, body.has-interstitial select {
    visibility: hidden;
    display: none; }
  body.has-interstitial .ad-interstitial {
    display: block; }
    body.has-interstitial .ad-interstitial embed, body.has-interstitial .ad-interstitial object, body.has-interstitial .ad-interstitial select {
      visibility: visible;
      display: block; }
  body.has-interstitial .transparent {
    opacity: 0; }
  body.has-interstitial .ad-interstitial.wp-int .ad-interstitial-header {
    background-color: #333333; }
    body.has-interstitial .ad-interstitial.wp-int .ad-interstitial-header .ad-logo {
      background-image: url("http://img.wpdigital.net/wp-adv/test/mstest/interstitial/img/wp_int_header_left.gif"); }
  body.has-interstitial .ad-interstitial.slate-int .ad-interstitial-header {
    background-color: #660033; }
    body.has-interstitial .ad-interstitial.slate-int .ad-interstitial-header .ad-logo {
      background-image: url("http://img.wpdigital.net/wp-adv/test/mstest/interstitial/img/slate_int_header_left.gif"); }
  body.has-interstitial .ad-interstitial.root-int .ad-interstitial-header {
    background-color: #666633; }
    body.has-interstitial .ad-interstitial.root-int .ad-interstitial-header .ad-logo {
      background-image: url("http://img.wpdigital.net/wp-adv/test/mstest/interstitial/img/root_int_header_left.gif"); }

body.has-interstitial.interstitial-blur #wrap, body.has-interstitial.interstitial-blur #shell {
  filter: blur(2px);
  -webkit-filter: blur(2px); }

.ad-interstitial {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999999997;
  color: black;
  font-size: 10px;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center; }
  .ad-interstitial .shadow-narrow {
    box-shadow: 0 0 8px 2px #111111;
    -webkit-box-shadow: 0 0 8px 2px #111111;
    -moz-box-shadow: 0 0 8px 2px #111111;
    -o-box-shadow: 0 0 8px 2px #111111; }
  .ad-interstitial .shadow-wide {
    box-shadow: 0 0 15px 3px #111111;
    -webkit-box-shadow: 0 0 15px 3px #111111;
    -moz-box-shadow: 0 0 15px 3px #111111;
    -o-box-shadow: 0 0 15px 3px #111111; }
  .ad-interstitial .ad-interstitial-cover,
  .ad-interstitial .ad-interstitial-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ad-interstitial .ad-interstitial-cover {
    background-color: white;
    opacity: 1;
    z-index: 999999998; }
  .ad-interstitial .ad-interstitial-inner {
    z-index: 999999999;
    position: absolute; }
  .ad-interstitial .ad-interstitial-header {
    height: 40px;
    background-color: black;
    color: white;
    padding: 3px 8px; }
    .ad-interstitial .ad-interstitial-header .ad-logo {
      background-position: left center;
      background-repeat: no-repeat;
      height: 40px; }
    .ad-interstitial .ad-interstitial-header .ad-message {
      text-align: center;
      height: 40px;
      line-height: 40px; }
    .ad-interstitial .ad-interstitial-header .ad-close {
      line-height: 40px;
      cursor: pointer;
      text-align: right;
      float: right;
      display: block;
      height: 40px; }
  .ad-interstitial .ad-interstitial-body embed, .ad-interstitial .ad-interstitial-body object, .ad-interstitial .ad-interstitial-body iframe, .ad-interstitial .ad-interstitial-body img {
    margin: 0 auto;
    border: 0;
    outline: 0;
    display: block; }
  .ad-interstitial .ad-interstitial-body .ad-interstitial-creative-container {
    position: relative;
    margin: 0 auto; }
  .ad-interstitial .ad-col {
    float: left;
    height: 40px;
    overflow: hidden; }
  .ad-interstitial .ad-col-25 {
    width: 25%; }
  .ad-interstitial .ad-col-50 {
    width: 50%; }
  .ad-interstitial .hidden {
    display: none; }
  .ad-interstitial .bold {
    font-weight: bold;
    font-size: 12px; }
